<?xml version="1.0"?>

<model>
  <name>ArUco Box</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Oscar Groß</name>
    <email>o.gross.1@campus.tu-berlin.de</email>
  </author>

  <description>
    Box with 6 ArUco Markers as Faces 
  </description>
</model> 
