<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="add_parts">

  <xacro:part name="new link" type="fixed" mass="1.0" parent="base" mimic="0" color="1"> <!-- TODO new link name umbennen? -> new_link in xacro?-->
    <xacro:link_viz_origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    <xacro:link_col_origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    <xacro:link_viz_shape>
      <box size = "0.5 0.5 0.5" />
    </xacro:link_viz_shape>
    <xacro:link_col_shape>
      <box size = "0.5 0.5 0.5" />
    </xacro:link_col_shape>
    <xacro:link_color rgba = "1.0 0.0 0.0 0.0"/>
    <xacro:link_center_of_mass xyz="0.0 0.0 0.0" />
    <xacro:link_inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />

    <xacro:joint_origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    <xacro:joint_axis_of_rotation xyz="1.0 0.0 0.0" />
    <xacro:joint_limits effort="1.0" velocity="1.0" lower="-1.0" upper="1.0" /> 
    <xacro:joint_dynamics damping="0.0" friction="0.0" />
    <xacro:joint_mimic joint="none" multiplier="0.0" offset="0.0" />  
  </xacro:part>

</robot>